/* Cascading stylesheet for the website */


/* Text inside these asterisks and slashes are comments for human */

* {
    padding: 0;
    margin: 0;
}

a {
    color: blue;
    /* set the text color to blue here */
    text-decoration: none;
    /* This means we do not want hyperlinks to be underlined */
}

a:hover {
    color: red;
    /* set the text color to red here */
    text-decoration: none;
    /* This means we do not want hyperlinks to be underlined */
}

body {
    background-image: url("back.jpg");
    /* set the background color here */
    color: black;
    /* set the text color to black here */
    font-family: 'Averia Serif Libre', cursive;
    /* set the font here */
    text-align: center;
    /* set the text alignment here */
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

h2 {
    color: #075AAB;
    /* set the text color of to #075AAB here */
    /* set both the bottom margin and top margin to 2.5rem here */
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

h3 {
    margin-bottom: 0;
    margin-top: 2rem;
}

h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

h5 {
    margin-top: 0.5rem;
}


/* this controls how the bullet points in the resume page looks */

ul {
    display: flex;
    height: 30px;
    padding: 5px auto;
    font-family: 'Kumar One', cursive;
    margin: 5px auto;
    text-align: left;
    justify-content: space-between;
}

ul>li {
    list-style-type: none;
}

ul>li>a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.hero {
    max-width: 400px;
    height: 350px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
}

.link1 {
    background-color: #ffff99;
    margin-left: 40px;
}

.link2 {
    margin-right: 40px;
}

ul>li>a:hover {
    background-color: #C62E46;
    color: cornsilk;
}

#pic2 {
    border-radius: 10px;
    border: 2px solid black;
}